<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees List</title>
    <br>
    <%- include('_navbar.ejs') %>
    <%- include('_style.ejs') %>
    
</head>
<body >
    <br>
    <div style="display: flex; justify-content: center;">
        <h1 class="navbar-menu">
            <a style="text-align: center; font-size: 34px;">EMPLOYEES LIST</a>
        </h1>
    </div>
    <div style="text-align: center;" class="navbar-menu">
        <form action="">
          <a href="/employees" name="position" style="text-decoration: none; color: #007bff; margin: 10px;">All</a>
          <a href="/employees?position=Staff" name="position" style="text-decoration: none; color: #007bff; margin: 10px;">Staff</a>
          <a href="/employees?position=Supervisor" name="position" style="text-decoration: none; color: #007bff; margin: 10px;">Supervisor</a>
          <a href="/employees?position=Manager" name="position" style="text-decoration: none; color: #007bff; margin: 10px;">Manager</a>
          <a href="/employees?position=CEO" name="position" style="text-decoration: none; color: #007bff; margin: 10px;">CEO</a>
        </form>
    </div>
    
    <div style="display: flex; justify-content: center; align-items: center;">
          <table>
            <thead>
              <tr style="text-align: center">
                <th>name</th>
                <th>position </th>
                <th>salary</th>
                <th>Store's Code</th>
                <th>Action</th>

              </tr>
            </thead>
            <tbody>
              <% result.forEach((el) => { %>
              <tr style="text-align: center;">
                <td><%= `${el.firstName} ${el.lastName}` %> </td>
                <td><%= el.position %></td>
                <td><%= el.salary %></td>
                <td><%= el.Store.code %></td>
                <td><button>Delete</button></td>
              </tr>
              <% }); %>
            </tbody>
        </table>
    </div>
    


</body>
</html>