<!DOCTYPE html>
<html>
<head>
  
  <title>Add New Art</title>
  <%- include('_style.ejs') %>

</head>

<body>
  <%- include ('_navbar') %>
<div class="navbar-container" style="display: flex; justify-content: center; align-items: center;">        
     <div class="navbar-menu">
        <% if (alert) { %>
            <p style="color: red">
        <%=alert%> removed
            </p>
        <% } %>    
        <h1><%= storeFind.name %></h1>
        <h3>Code : <%= storeFind.code %></h3>
        <% if (storeFind.Employees.length < 1) { %>
        <p>There is no employee yet</p>
        <% } %>
        <p>Employee Fee : <%= storeFind.Employees.length >= 1 ? `${employeeSalary}` : '-' %></p>
    </div>
</div>

<div class="navbar" style="display: flex; justify-content: center; align-items: center;">
    <p>Click <a href="/stores/<%= storeFind.id %>/employees/add">here</a> to add an employee</p>
<% if (storeFind.Employees.length >= 1) { %>
</div>

<div style="display: flex; justify-content: center; align-items: center;">
    <table>
        <thead>
            <tr style="text-align: center">
              <th>First Name</th>
              <th>Last Name</th>
              <th>Age</th>
              <th>Education</th>
              <th>Position</th>
              <th>Salary</th>
              <th>Action</th>
            </tr>
        </thead>
    
        <tbody>
        <% storeFind.Employees.forEach(el => { %>
            <tr style="text-align: center;">
                <td><%=el.firstName%></td>
                <td><%=el.lastName%></td>
                <td><%=el.ageData%></td>
                <td><%=el.education%></td>
                <td><%=el.position%></td>
                <td><%=el.dataValues.formatSalary%></td>
                <td>
                    <a href="/stores/<%=storeFind.id%>/employees/<%=el.id%>/edit" style="text-decoration: none; color: #007bff; margin: 10px;">Edit</a>
                    <a href="/stores/<%=storeFind.id%>/employees/<%=el.id%>/delete" style="text-decoration: none; color: #007bff; margin: 10px;">Delete</a>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
      <% } %>
</div>

</body>
</html>